body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(4, 15, 15);
}

@font-face {
  font-family: myfont;
  src: url("./WorkSans-VariableFont_wght.ttf");
}

*, *::before, *::after{
  margin: 0px;
  padding: 0px;
  font-family: myfont;
  box-sizing: border-box;
  color: rgb(49, 54, 56);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
